.card-container {
    width: 100%;
    flex: 0 0 33%;
    border: 1px solid black;
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.card-img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 40% 0;
}

.card-testimonial {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.testimonial-title {
    font-family: 'Myriad Pro Bold';
}

.testimonial-description {
    font-family: 'Myriad Pro Light';
}




