/* Fonts */
@font-face {
    font-family: Zapfino;
    src: url(../fonts//Zapfino\ Linotype\ One.ttf);
}
@font-face {
    font-family: Vagroln;
    src: url(../fonts//VAGROLN.TTF);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 20% auto 10%;
    align-items: center;
    align-content: center;
    padding: 0 3rem;
}
.logo-text {
    font: 500 2.5rem Zapfino;
}

.logo-text:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in;
    cursor: pointer;
}

/* Navigation */
.header-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;   
}

ul li {
    list-style-type: none;
}

.header-menu li:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.header-menu-links {
    text-decoration: none;
    font: 20px Vagroln;
    color: white;
}

/* Main */
main {
    color: white;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20% auto;
    background: url(../images/main-background.jpg) center/cover no-repeat;
}
.main-text {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2rem;
}
.main-font, .logo-text {
    font-family: Zapfino;
}
.main-font {
    font: 400 22vh Zapfino;
}
.second-main-font {
    font-family: 'Myriad Pro Light';
    font-size: 2rem;
}